main {
  min-height: 80.8vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.logoImage {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 5%;
}

.icon-padding {
  padding-right: 0.7rem;
}

.icon-size {
  font-size: 17px;
}
